.border-1px{
	&::after{
		-webkit-transform:scaleY(0.5);
		transform: scaleY(0.5);
	}
}

.clearfix:after{
	display: block;
	content: ".";
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}